            
<form role="form" action="/admin/addCard" method="post" enctype="multipart/form-data">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Cena</label><input type="number" name="price" class="form-control" placeholder="159.99" min="1" step=".01" required></div>
                </div>
                {{!-- <div class="row mt-2">
                    <input type="hidden" id="id" name="id" value="{{profile.id_zak}}">
                </div> --}}
                <div class="row mt-3">
                    <div class="col-md-4 "><label class="labels">Image</label><input type="file" name="image" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <label for="cleni">Člen:</label>
                    
                    <select id="cleni" name="id_clena">
                        <option value="1" name="1">Nayeon</option>
                        <option value="2" name="2">Momo</option>
                        <option value="3" name="3">Jihyo</option>
                        <option value="4" name="4">Mina</option>
                        <option value="5" name="5">Sana</option>
                        <option value="6" name="6">Tzuyu</option>
                        <option value="7" name="7">Jeongyeon</option>
                        <option value="8" name="8">Dahyun</option>
                        <option value="9" name="9">Chaeyoung</option>
                        <option value="10" name="10">Winter</option>
                        <option value="11" name="11">Karina</option>
                        <option value="12" name="12">Giselle</option>
                        <option value="13" name="13">Ningning</option>
                    </select>
                    
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Uložit změny</button></div>
                </div>
            </form>