<nav class="navbar navbar-expand">
  <div class="container">
    <a href="/" class="navbar-brand">Kpop Store</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="products" class="nav-link">Cards</a>
      </li>
    </ul>
  </div>
</nav>

<li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" id="tlacitko">Odhlásit</button></form></li>





