
{{#if login}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">Kpop Store</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cards
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="products">All</a></li>
            <li><a class="dropdown-item" href="products/:id">Twice</a></li>
            <li><a class="dropdown-item" href="products/:id">aespa</a></li>
          </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="profile" class="nav-link active">Profile</a>
      </li>
      <li class="nav-item">
        <form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" id="tlacitko">Logout <i class="fa-solid fa-right-from-bracket"></i></button></form>
      </li>
    </ul>
  </div>
</nav>


{{/if}}


{{#unless login}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">Kpop Store</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cards
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="products">All</a></li>
            <li><a class="dropdown-item" href="products/:id">Twice</a></li>
            <li><a class="dropdown-item" href="products/:id">aespa</a></li>
          </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="register" class="nav-link">Register</a>
      </li>
    </ul>
  </div>
</nav>
{{/unless}}




<form role="form" action="/login" method="POST">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                </div>
              </div>
            </div>
            <div class="form-group">
              <!-- Input pro email-->
              <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email" required>              

            </div>
            <div class="form-group">
              <!-- Input pro heslo-->
              <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Heslo" required>
            </div>

            <div class="form-group">
              <!-- Button na odeslání formu-->
              <input type="submit" value="Přihlásit" class="btn btn-info btn-block">

            </div>
            <!-- Link na registraci-->
            <a href="register" class="">Ještě nemáte účet?</a>
        </div>
        <!-- Konec formu-->
        </form>